* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #2085d1;
  --bg-color: #edf2f7;
  --text-color: rgb(42, 41, 41);
  --border-radius: 10px;
  /* --border-radius: 100% 100%; */
}
html,
body {
  height: 90%;
  padding: 1rem;
}

body {
  color: var(--text-color);
  padding: 1rem 1rem;

  font-family: monospace;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: linear-gradient(145deg, #cacaca, #f0f0f0);

  background-image: radial-gradient(
    var(--color-primary) 0.5px,
    var(--bg-color) 0.5px
  );
  background-size: 10px 10px;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  #main-canvas {
    border-radius: var(--border-radius);
    border: 2px solid #333;
    border: 3px solid #333;
  }

  #ui {
    position: absolute;
    /* background-color: rgba(42, 41, 41, 0.3); */
    width: 100%;
    height: 100%;
    width: 600px;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: center;

    button {
      /* width: 200px;
      height: 56px; */
      /* border: 3px solid black; */
      cursor: pointer;
      /* border-radius: var(--border-radius); */
      /* transition: all 0.3s ease-in-out; */
      font-weight: bold;

      /* &:active {
        transform: scale(0.98);
      } */

      &.play {
        background-color: #2085d1;
      }
      &.retry {
        background-color: #6f7378;
      }
      &.next-level {
        background-color: #20d199;
      }
      &.restart {
        background-color: #8420d1;
      }
    }

    .btn_play {
      border: none;
      background-color: transparent;
      background-image: url('/assets/ui/UIBigPlayButton.png');
      background-position: 0px -32px;
      transform: scale(2);
      background-repeat: no-repeat;
      width: 96px;
      height: 32px;

      &:active {
        background-position: -96px -32px;
      }
    }

    .tools {
      position: absolute;
      bottom: -4.5rem;
      bottom: 0.1rem;
      left: 0;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      /* gap: 1rem; */
      /* opacity: 0.7; */

      /* background-color: #6b4b5b; */
      /* height: 64px; */
      /* padding: 1rem; */

      .tool {
        width: 32px;
        height: 32px;
        background-color: transparent;
        /* background-image: url('/assets/ui/buttons/Square Buttons 26x26.png');
        background-repeat: no-repeat;

        background-position: -8px -8px; */
        /* border: 1px solid; */
        /* transform: scale(1); */

        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(1);
        opacity: 0.7;
        &.active {
          background-position: -8px -56px;
          opacity: 1;
          filter: grayscale(0);
        }
        > div {
          width: 100%;
          height: 100%;
          transform: scale(1.2);
        }
        .wateringcan {
          background-image: url('/assets/ui/Sprite sheet for Basic Pack.png');
          background-repeat: no-repeat;

          background-position: -670px 0px;
        }

        .axe {
          background-image: url('/assets/ui/Sprite sheet for Basic Pack.png');
          background-repeat: no-repeat;

          background-position: -610px -32px;
        }
        .pickaxe {
          background-image: url('/assets/ui/Sprite sheet for Basic Pack.png');
          background-repeat: no-repeat;
          background-position: -644px 0px;
        }
      }
    }

    .ready-container {
      display: none;
    }
    .playing-container {
      display: none;
    }
    .gameover-container {
      display: none;
    }
    .completed-container {
      display: none;
    }
    .done-container {
      display: none;
    }
  }

  /*  */
  &.SCENE_STATE__LOADING {
    #ui {
      display: none;
    }
  }
  &.SCENE_STATE__READY {
    #ui {
      .ready-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &.SCENE_STATE__PLAYING {
    #ui {
      display: flex;
      pointer-events: none;
      background-color: transparent;
      .playing-container {
        position: absolute;
        color: whitesmoke;
        /* background-color: whitesmoke; */
        top: 1rem;
        left: 2rem;
        width: 90%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 1rem;

        .center {
          text-align: center;
        }
        .right {
          text-align: right;
        }
      }
    }

    /* #main-canvas {
      cursor: e-resize;
    } */
  }
  &.SCENE_STATE__COMPLETED {
    #ui {
      display: flex;

      .completed-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        transition: all 0.3s ease-in-out;
      }
    }
  }
  &.SCENE_STATE__GAMEOVER {
    #ui {
      display: flex;
      .gameover-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &.DONE {
    #ui {
      display: flex;

      width: 90%;
      background-color: whitesmoke;

      .done-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        button {
          height: 56px;
        }
      }
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
